<?php
// Base of Global identities configuration settings on $config variable to redistribute
$config = array(
	'database'=>array(
        'user'=>'username',
        'password'=>'password',
        'host'=>'localhost',
        'database'=>'usuarios'
    ),
    'gdata'=>array(
        'user'=>'username',
        'pass'=>'password',
        'service'=>'Zend_Gdata_Docs::AUTH_SERVICE_NAME'  
    ),
    'repository'=>'db|txt|gd',
    'layout'=>'dashboard'
);
